* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height:100%;
    background: blue;
}

.box {
    background-color: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 5px;
    padding: 30px;
}

.correct-answer {
    background-color: green;
    color: white;
  }

.quiz {
    padding: 20px 0;
}

.quiz h2 {
font-size: 18px;
color: #001e4d;
font-weight: 600;
}

#start-button {
    display: block;
    margin: 0 auto;

}

.restart {
    position: absolute;
}

#restart-button {
    display: none;
    padding: 10px;
    color:white;
    background: black;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 370px 0px;
    width: 100px;
 
}

.ending-screen {
    display: none;
  }
  
  
  .ending-screen h1 {
    text-align: center;
    margin-top: -175px; /* Adjust the margin-top value as needed */
}

.ending-screen h2 {
    text-align: center;
    margin-top: 15px; /* Adjust the margin-top value as needed */
    font-size: 15px;
}
#high-scores {
    text-align: center;
    margin-top: 15px; /* Adjust the margin-top value as needed */
    font-size: 12px;
}


.next {
    position: absolute;
    

}

#next-button {
    display: block;
    padding: 10px;
    color:white;
    background: black;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 215px 0px;
    width: 100px;
 
}

#finish-button {
    display: block;
    padding: 10px;
    color:white;
    background: black;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 215px 0px;
    width: 100px;
 
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
    
}

#start-button {
    padding: 10px;
    color:white;
    background: black;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 50px 0px;
    width: 100px;
    z-index: 1;
 
}

.box h1 {
    font-weight: 15px;
    color: red;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.btn {
    background: white;
    cursor: pointer;
    width: 100%;
    color: #222;
    font-weight: 450;
    border: 2px solid;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    margin:5px;

}

.btn:hover {
    background: red;
    color: white;
}